:root {
  --primary-color: #1e80ff;
  --dark-bg: #18181c;
  --link: #007fff;
  --jjext-color-brand: #1e80ff;
  --jjext-color-brand-light: #e8f3ff;
  --jjext-color-nav-title: #86909c;
  --jjext-color-nav-popup-bg: #ffffff;
  --jjext-color-primary: #1d2129;
  --jjext-color-secondary-app: #4e5969;
  --jjext-color-thirdly: #86909c;
  --jjext-color-hover: #1e80ff;
  --jjext-color-hover-thirdly: #86909c;
  --jjext-color-dropdown-text: #1e80ff;
  --jjext-color-divider: #e5e6eb;
  --jjext-color-main-bg: #f4f5f5;
  --jjext-color-secondary-bg: #ffffff;
  --jjext-color-thirdly-bg: #f4f5f5;
  --jjext-color-hover-bg: #e8f3ff;
  --jjext-color-comment-bg: rgba(244, 245, 245, 0.5);
  --jjext-hover-bg: linear-gradient( 90deg, rgba(232, 243, 255, 0) 0%, rgba(232, 243, 255, 0.8) 25.09%, #e8f3ff 50.16%, rgba(232, 243, 255, 0.8) 75.47%, rgba(232, 243, 255, 0) 100% );
  --jjext-color-mask: rgba(0, 0, 0, 0.4);
  --jjext-color-quick-nav-text: #ffffff;
  --jjext-color-nav-bg: rgba(255, 255, 255, 0.13);
  --jjext-color-nav-selected-border: rgba(229, 230, 235, 0.3);
  --jjext-color-tips: #f53f3f;
  --jjext-color-tag-list: rgba(30, 128, 255, 0.16);
  --jjext-color-fourthly: #c9cdd4;
  --jjext-color-shadow: rgba(0, 0, 0, 0.16);
  --jjext-color-grey-triangle: #e5e6eb;
  --jjext-color-icon-search: #ffffff;
  --jjext-color-navbar-icon: #1e80ff;
  --jjext-color-layout-dropdown-bg: rgba(232, 243, 255, 0.8);
  --jjext-color-layout-title: #4e5969;
  --jjext-color-layout-title-active: #1e80ff;
  --jjext-color-layout-icon-outline: rgba(30, 128, 255, 0.5);
  --jjext-color-layout-icon-fill: #ffffff;
  --jjext-color-layer-gray-1-2: rgba(228, 230, 235, 0.5);
  --jjext-color-layer-4: #ffffff;
  --jjext-color-font-brand1-normal: #1e80ff;
  --jjext-color-font-brand-4: #abcdff;
  --jjext-color-font-1: #252933;
  --jjext-color-font-2: #515767;
  --jjext-color-font-3: #8a919f;
  --jjext-color-font-4: #c2c8d1;
  --jjext-color-font-white: #fff;
  --jjext-color-layer-4-plugin: rgba(30, 128, 255, 0.05);
  --jjext-brand-fill2-hover: rgba(30, 128, 255, 0.1);
  --jjext-color-gray-0: #fff;
  --jjext-color-gray-1-1: #e4e6eb;
  --jjext-color-gray-1-2: rgba(228, 230, 235, 0.5);
  --jjext-color-gray-1-3: #e4e6eb;
  --jjext-color-gray-2: #f2f3f5;
  --jjext-color-gray-3: #f7f8fa;
  --jjext-color-gray-4: #909090;
  --jjext-color-background: #f2f3f5;
  --jjext-color-layer-1: #fff;
  --jjext-color-layer-2-1: #f7f8fa;
  --jjext-color-layer-2-2: rgba(247, 248, 250, 0.7);
  --jjext-color-layer-3-fill: #f2f3f5;
  --jjext-color-layer-3-border: #e4e6eb;
  --jjext-color-layer-4-dropdown: #fff;
  --jjext-color-layer-5: #fff;
  --jjext-color-brand-1-normal: #1e80ff;
  --jjext-color-brand-2-hover: #1171ee;
  --jjext-color-brand-3-click: #0060dd;
  --jjext-color-brand-4-disable: #abcdff;
  --jjext-color-brand-5-light: #eaf2ff;
  --jjext-color-mask-1: rgba(0, 0, 0, 0.4);
  --jjext-color-mask-2: #fff;
  --jjext-color-mask-3: none;
  --jjext-color-mask-6: #ffffff;
  --jjext-color-brand-fill1-normal: rgba(30, 128, 255, 0.05);
  --jjext-color-brand-fill2-hover: rgba(30, 128, 255, 0.1);
  --jjext-color-brand-fill3-click: rgba(30, 128, 255, 0.2);
  --jjext-color-brand-stroke1-normal: rgba(30, 128, 255, 0.3);
  --jjext-color-brand-stroke2-hover: rgba(30, 128, 255, 0.45);
  --jjext-color-brand-stroke3-click: rgba(30, 128, 255, 0.6);
  --jjext-color-font_danger: #ff5132;
  --jjext-color-shade-1: rgba(0, 0, 0, 0.4);
  --jjext-color-popup: #fff;
  --jjext-color-popover: rgba(0, 0, 0, 0.8);
  --jjext-color-bg-gray:#27272a;
  --jjext-color-link-red:#ff0000;
  --jjext-color-link-continer:#333;
  --jjext-color-drop-down:#909097;
  --jjext-color-border-drop-down:#ebebeb;
  --jjext-color-hover-drop-down:#111;
  --jjext-color-background-drop-down:#fafafb;
  --jjext-color-button-text:#2885FF;
  --jjext-color-button-background:#F4F9FF;
  --jjext-color-button-primary-hover:#388EFF;
  --jjext-color-button-plain-hover:#E8F2FF;
  --jjext-color-skeleton-1:#E5E7EC;
  --jjext-color-skeleton-2:#555;
  --jjext-color-fill:#3686ff;
  --jjext-color-more-list:#9aa3ab;
  --jjext-color-more-list-border:#ddd;
  --juejin-color-navs-item-after:#EF4444;
  --juejin-color-types-list:#71777c;
  --juejin-color-types-list-tag:#8a9aa9;
  --juejin-color-types-tag-background:#f4f5f5;
}

html.light{
  --juejin-layer-golden-1: #faf3e5;
  --juejin-layer-golden-2: #f6e7cb;
  --juejin-component-hover: #e4e6eb;
  --juejin-gradientgold_normal_start: #fde8c3;
  --juejin-gradientgold_normal_end: #edd3a7;
  --juejin-gradientgold_hover_start: #f1dfc0;
  --juejin-gradientgold_hover_end: #e6c99b;
  --juejin-gradientgold_click_start: #e9d5b3;
  --juejin-gradientgold_click_end: #dac29a;
  --juejin-layer_loading_start: rgba(228,230,235,0);
  --juejin-layer_loading_end: rgba(228,230,235,0.5);
  --juejin-layer_golden_2: #faf3e5;
  --juejin-font_golden_4: #7e5d25;
  --juejin-font-golden-1: #7e5d25;
  --juejin-font-golden-2: #8a795c;
  --juejin-font-golden-3: #d6b885;
  --juejin-gray-0: #fff;
  --juejin-gray-1-1: #e4e6eb;
  --juejin-gray-1-2: rgba(228,230,235,0.5);
  --juejin-gray-1-3: #e4e6eb;
  --juejin-gray-2: #f2f3f5;
  --juejin-gray-3: #f7f8fa;
  --juejin-background: #f2f3f5;
  --juejin-layer-1: #fff;
  --juejin-layer-2-1: #f7f8fa;
  --juejin-layer-2-2: rgba(247,248,250,0.7);
  --juejin-layer-3-fill: #f2f3f5;
  --juejin-layer-3-border: #e4e6eb;
  --juejin-layer-4-dropdown: #fff;
  --juejin-layer-5: #fff;
  --juejin-brand-1-normal: #1e80ff;
  --juejin-brand-2-hover: #1171ee;
  --juejin-brand-3-click: #0060dd;
  --juejin-brand-4-disable: #abcdff;
  --juejin-brand-5-light: #eaf2ff;
  --juejin-mask-1: rgba(0,0,0,0.4);
  --juejin-mask-2: #fff;
  --juejin-mask-3: none;
  --juejin-brand-fill1-normal: rgba(30,128,255,0.05);
  --juejin-brand-fill2-hover: rgba(30,128,255,0.1);
  --juejin-brand-fill3-click: rgba(30,128,255,0.2);
  --juejin-brand-stroke1-normal: rgba(30,128,255,0.3);
  --juejin-brand-stroke2-hover: rgba(30,128,255,0.45);
  --juejin-brand-stroke3-click: rgba(30,128,255,0.6);
  --juejin-font_danger: #ff5132;
  --juejin-font-1: #252933;
  --juejin-font-2: #515767;
  --juejin-font-3: #8a919f;
  --juejin-font-4: #c2c8d1;
  --juejin-font-brand1-normal: #1e80ff;
  --juejin-font-brand2-hover: #1171ee;
  --juejin-font-brand3-click: #0060dd;
  --juejin-font-brand4-disable: #abcdff;
  --juejin-font-success: #2bb91b;
  --juejin-font-warning: #ff8412;
  --juejin-font-danger: #ff5132;
  --juejin-font-white-disable: #fff;
  --juejin-font-white: #fff;
  --juejin-success-1-normal: #00b453;
  --juejin-success-2-deep: #00964e;
  --juejin-success-3-light: #e2faed;
  --juejin-warning-1-normal: #ff7426;
  --juejin-warning-2-deep: #e05e00;
  --juejin-warning-3-light: #fff3e5;
  --juejin-danger-1-normal: #f64242;
  --juejin-danger-2-deep: #cb2634;
  --juejin-danger-3-light: #fff2ff;
  --juejin-sub-1-purple: #9f54ff;
  --juejin-sub-2-blue: #57a0ff;
  --juejin-sub-3-cyan: #5ad7ff;
  --juejin-sub-4-green: #33d790;
  --juejin-sub-5-yellow: #ffcc15;
  --juejin-sub-6-orange: #ff834e;
  --juejin-sub-7-red: #ff5e54;
  --juejin-coupon_1_button: #f64242;
  --juejin-coupon_1_button_disable: #faa0a0;
  --juejin-coupon_2_card: rgba(255,245,244,0.7);
  --juejin-coupon_3_stroke: rgba(246,66,66,0.2);
  --juejin-navigation: #fff;
  --juejin-shade-1: rgba(0,0,0,0.4);
  --juejin-shade-2: rgba(0,0,0,0.6);
  --juejin-popup: #fff;
  --juejin-popover: rgba(0,0,0,0.8);
  --juejin-sheets: #f7f8fa;
  --juejin-coupon-button: #f64242;
  --juejin-coupon-button-disable: #faa0a0;
  --juejin-coupon-card: rgba(255,245,244,0.7);
  --juejin-layer-loading-start: #e4e6eb;
  --juejin-layer-loading-end: rgba(228,230,235,0.5);
  --juejin-font-priv-hint: #916be1;
  --juejin-background-jscore-radar: #232323;
  --juejin-background-article: #ffffff;
  --juejin-background-main: #f4f5f5;
  --juejin-background-sign-button:#f4f9ff;
  --juejin-background-signed-button:#f4f9ff;
  --juejin-h1-font-color: #252933;
  --juejin-span-font-color: #515767;
  --juejin-p-font-color: #000000;
  --juejin-color-bg-hover:#FAFAFA;
  --juejin-color-bg-sidebar:#fff;
  --juejin-color-text-content:#1D2129;
  --juejin-color-text-container:#333333;
  --juejin-color-container-hover:#F7F8FA;
  --juejin-article-list-border:#e4e6eb;
  --juejin-border-bottom:#e4e6eb;
  --juejin-border-sign:#8dbfff;
  --juejin-hover-sign:#e8f2ff;
  --juejin-text-sign:#1e80ff;
  --juejin-text-signed:#abcdff;
  --juejin-border-signed:#b3d5ff;
  --juejin-text-signe-dayparts:#1e80ff;
  --juejin-border-navs-header:#F3F4F6;
  --juejin-border-navs-wrapper:#E5E7EB;
  --juejin-navs-background:#ffffff;
  --juejin-text-navs-item:#000000;
  --juejin-list-icon-hover:#f2f3f5;
}

html.dark{
  --juejin-layer-golden-1: rgba(209,171,97,0.23);
  --juejin-layer-golden-2: rgba(237,211,167,0.4);
  --juejin-component-hover: hsla(0,0%,100%,0.2);
  --juejin-gradientgold_normal_start: #fde8c3;
  --juejin-gradientgold_normal_end: #edd3a7;
  --juejin-gradientgold_hover_start: #f1dfc0;
  --juejin-gradientgold_hover_end: #e6c99b;
  --juejin-gradientgold_click_start: #e9d5b3;
  --juejin-gradientgold_click_end: #dac29a;
  --juejin-layer_loading_start: hsla(0,0%,100%,0);
  --juejin-layer_loading_end: hsla(0,0%,100%,0.2);
  --jjext-color-main-bg: #18181C;
  --juejin-layer_golden_2: rgba(209,171,97,0.12);
  --juejin-font_golden_4: #7e5d25;
  --juejin-font-golden-1: #edd3a7;
  --juejin-font-golden-2: #bea985;
  --juejin-font-golden-3: #8e7f64;
  --juejin-gray-0: #000;
  --juejin-gray-1-1: hsla(0,0%,100%,0.2);
  --juejin-gray-1-2: hsla(0,0%,100%,0.1);
  --juejin-gray-1-3: #464646;
  --juejin-gray-2: hsla(0,0%,100%,0.12);
  --juejin-gray-3: hsla(0,0%,100%,0.08);
  --juejin-background: #000;
  --juejin-layer-1: #181818;
  --juejin-layer-2-1: hsla(0,0%,100%,0.08);
  --juejin-layer-2-2: hsla(0,0%,100%,0.08);
  --juejin-layer-3-fill: hsla(0,0%,100%,0.08);
  --juejin-layer-3-border: hsla(0,0%,100%,0.2);
  --juejin-layer-4-dropdown: #2f2f2f;
  --juejin-layer-5: hsla(0,0%,100%,0.12);
  --juejin-brand-1-normal: #2986ff;
  --juejin-brand-2-hover: #1473ed;
  --juejin-brand-3-click: #0563dd;
  --juejin-brand-4-disable: rgba(41,134,255,0.4);
  --juejin-brand-5-light: rgba(30,128,255,0.2);
  --juejin-mask-1: hsla(0,0%,100%,0.4);
  --juejin-mask-2: #282828;
  --juejin-mask-3: rgba(0,0,0,0.05);
  --juejin-brand-fill1-normal: rgba(41,134,255,0.15);
  --juejin-brand-fill2-hover: rgba(20,115,237,0.25);
  --juejin-brand-fill3-click: rgba(5,99,221,0.35);
  --juejin-brand-stroke1-normal: rgba(41,134,255,0.4);
  --juejin-brand-stroke2-hover: rgba(20,115,237,0.6);
  --juejin-brand-stroke3-click: rgba(5,99,221,0.6);
  --juejin-font_danger: #f85959;
  --juejin-font-1: hsla(0,0%,100%,0.9);
  --juejin-font-2: hsla(0,0%,100%,0.7);
  --juejin-font-3: hsla(0,0%,100%,0.55);
  --juejin-font-4: hsla(0,0%,100%,0.45);
  --juejin-font-brand1-normal: #4495ff;
  --juejin-font-brand2-hover: #2b88ff;
  --juejin-font-brand3-click: #1371ec;
  --juejin-font-brand4-disable: rgba(19,113,236,0.4);
  --juejin-font-success: #40c17b;
  --juejin-font-warning: #ff8541;
  --juejin-font-danger: #c62633;
  --juejin-font-white-disable: hsla(0,0%,100%,0.6);
  --juejin-font-white: #fff;
  --juejin-success-1-normal: #40c17b;
  --juejin-success-2-deep: #008445;
  --juejin-success-3-light: rgba(64,193,123,0.2);
  --juejin-warning-1-normal: #ff8541;
  --juejin-warning-2-deep: #d85c02;
  --juejin-warning-3-light: rgba(255,133,65,0.2);
  --juejin-danger-1-normal: #f85959;
  --juejin-danger-2-deep: #c62633;
  --juejin-danger-3-light: rgba(248,89,89,0.2);
  --juejin-sub-1-purple: #a965ff;
  --juejin-sub-2-blue: #68a9ff;
  --juejin-sub-3-cyan: #74f4ed;
  --juejin-sub-4-green: #50e68c;
  --juejin-sub-5-yellow: #ffd748;
  --juejin-sub-6-orange: #ff8f60;
  --juejin-sub-7-red: #ff6e65;
  --juejin-coupon_1_button: rgba(251,86,83,0.8);
  --juejin-coupon_1_button_disable: #782928;
  --juejin-coupon_2_card: rgba(255,176,176,0.08);
  --juejin-coupon_3_stroke: rgba(246,66,66,0.18);
  --juejin-navigation: #181818;
  --juejin-shade-1: rgba(0,0,0,0.6);
  --juejin-shade-2: rgba(0,0,0,0.7);
  --juejin-popup: #282828;
  --juejin-popover: #323232;
  --juejin-sheets: #222;
  --juejin-coupon-button: rgba(251,86,83,0.8);
  --juejin-coupon-button-disable: #782928;
  --juejin-coupon-card: rgba(255,176,176,0.08);
  --juejin-layer-loading-start: #fff;
  --juejin-layer-loading-end: hsla(0,0%,100%,0.2);
  --juejin-font-priv-hint: #916be1;
  --juejin-background-jscore-radar: #232323;
  --juejin-background-article: #27272a;
  --juejin-background-main: #18181c;
  --juejin-background-sign-button:#171d23;
  --juejin-background-signed-button:#315078;
  --juejin-h1-font-color: #ffffff;
  --juejin-span-font-color: #f7f8fa;
  --juejin-p-font-color: #f4f4f5;
  --juejin-color-bg-hover:#333;
  --juejin-color-bg-sidebar:#27272a;
  --juejin-color-text-content:#ffffff;
  --juejin-color-text-container:#ffffff;
  --juejin-color-container-hover:#333;
  --juejin-article-list-border:#212123;
  --juejin-border-bottom:#1e80ff;
  --juejin-border-sign:#2F5D99;
  --juejin-hover-sign:#315078;
  --juejin-text-sign:#388EFF;
  --juejin-text-signed:#85BAFF;
  --juejin-border-signed:#2F5D99;
  --juejin-text-signe-dayparts:#6BABFF;
  --juejin-border-navs-header:#494949;
  --juejin-border-navs-wrapper:#494949;
  --juejin-navs-background:#121212;
  --juejin-text-navs-item:#e8ecfa;
  --juejin-list-icon-hover:#515767;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}

.medium-zoom-image,
.medium-zoom-overlay {
  z-index: 10000;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}