:root {
  --primary-color: #316c72;
  --dark-bg: #18181c;
  --link: #007fff;
  --jjext-color-brand: #1e80ff;
  --jjext-color-brand-light: #e8f3ff;
  --jjext-color-nav-title: #86909c;
  --jjext-color-nav-popup-bg: #ffffff;
  --jjext-color-primary: #1d2129;
  --jjext-color-secondary-app: #4e5969;
  --jjext-color-thirdly: #86909c;
  --jjext-color-hover: #1e80ff;
  --jjext-color-hover-thirdly: #86909c;
  --jjext-color-dropdown-text: #1e80ff;
  --jjext-color-divider: #e5e6eb;
  --jjext-color-main-bg: #f4f5f5;
  --jjext-color-secondary-bg: #ffffff;
  --jjext-color-thirdly-bg: #f4f5f5;
  --jjext-color-hover-bg: #e8f3ff;
  --jjext-color-comment-bg: rgba(244, 245, 245, 0.5);
  --jjext-hover-bg: linear-gradient(
    90deg,
    rgba(232, 243, 255, 0) 0%,
    rgba(232, 243, 255, 0.8) 25.09%,
    #e8f3ff 50.16%,
    rgba(232, 243, 255, 0.8) 75.47%,
    rgba(232, 243, 255, 0) 100%
  );
  --jjext-color-mask: rgba(0, 0, 0, 0.4);
  --jjext-color-quick-nav-text: #ffffff;
  --jjext-color-nav-bg: rgba(255, 255, 255, 0.13);
  --jjext-color-nav-selected-border: rgba(229, 230, 235, 0.3);
  --jjext-color-tips: #f53f3f;
  --jjext-color-fourthly: #c9cdd4;
  --jjext-color-shadow: rgba(0, 0, 0, 0.16);
  --jjext-color-grey-triangle: #e5e6eb;
  --jjext-color-icon-search: #ffffff;
  --jjext-color-navbar-icon: #1e80ff;
  --jjext-color-layout-dropdown-bg: rgba(232, 243, 255, 0.8);
  --jjext-color-layout-title: #4e5969;
  --jjext-color-layout-title-active: #1e80ff;
  --jjext-color-layout-icon-outline: rgba(30, 128, 255, 0.5);
  --jjext-color-layout-icon-fill: #ffffff;
  --jjext-color-layer-gray-1-2: rgba(228, 230, 235, 0.5);
  --jjext-color-layer-4: #ffffff;
  --jjext-color-font-brand1-normal: #1e80ff;
  --jjext-color-font-brand-4: #abcdff;
  --jjext-color-font-1: #252933;
  --jjext-color-font-2: #515767;
  --jjext-color-font-3: #8a919f;
  --jjext-color-font-4: #c2c8d1;
  --jjext-color-font-white: #fff;
  --jjext-color-layer-4-plugin: rgba(30, 128, 255, 0.05);
  --jjext-brand-fill2-hover: rgba(30, 128, 255, 0.1);
  --jjext-color-gray-0: #fff;
  --jjext-color-gray-1-1: #e4e6eb;
  --jjext-color-gray-1-2: rgba(228, 230, 235, 0.5);
  --jjext-color-gray-1-3: #e4e6eb;
  --jjext-color-gray-2: #f2f3f5;
  --jjext-color-gray-3: #f7f8fa;
  --jjext-color-background: #f2f3f5;
  --jjext-color-layer-1: #fff;
  --jjext-color-layer-2-1: #f7f8fa;
  --jjext-color-layer-2-2: rgba(247, 248, 250, 0.7);
  --jjext-color-layer-3-fill: #f2f3f5;
  --jjext-color-layer-3-border: #e4e6eb;
  --jjext-color-layer-4-dropdown: #fff;
  --jjext-color-layer-5: #fff;
  --jjext-color-brand-1-normal: #1e80ff;
  --jjext-color-brand-2-hover: #1171ee;
  --jjext-color-brand-3-click: #0060dd;
  --jjext-color-brand-4-disable: #abcdff;
  --jjext-color-brand-5-light: #eaf2ff;
  --jjext-color-mask-1: rgba(0, 0, 0, 0.4);
  --jjext-color-mask-2: #fff;
  --jjext-color-mask-3: none;
  --jjext-color-mask-6: #ffffff;
  --jjext-color-brand-fill1-normal: rgba(30, 128, 255, 0.05);
  --jjext-color-brand-fill2-hover: rgba(30, 128, 255, 0.1);
  --jjext-color-brand-fill3-click: rgba(30, 128, 255, 0.2);
  --jjext-color-brand-stroke1-normal: rgba(30, 128, 255, 0.3);
  --jjext-color-brand-stroke2-hover: rgba(30, 128, 255, 0.45);
  --jjext-color-brand-stroke3-click: rgba(30, 128, 255, 0.6);
  --jjext-color-font_danger: #ff5132;
  --jjext-color-shade-1: rgba(0, 0, 0, 0.4);
  --jjext-color-popup: #fff;
  --jjext-color-popover: rgba(0, 0, 0, 0.8);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}

.medium-zoom-image,
.medium-zoom-overlay {
  z-index: 10000;
}
