:root {
  --primary-color: #316c72;
  --dark-bg: #18181c;
}


.page-enter-active,
.page-leave-active {
	transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	transform: scale(0.99);
}